<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-heading">
      <h2 class="text-center">Login</h2>
    </div>
    <hr />
    <div class="modal-body">
      <form [formGroup]="myForm" novalidate (ngSubmit)="loginSubmit(myForm.value)">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-user"></span>
            </span>
            <input type="text" class="form-control" formControlName="username" placeholder="User Name" />
            <small [hidden]="myForm.controls.username.valid || (myForm.controls.username.pristine && !submitted)">
              User Name is required
            </small>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-lock"></span>
            </span>
            <input type="password" class="form-control" formControlName="password" placeholder="Password" />
            <small [hidden]="myForm.controls.password.valid || (myForm.controls.password.pristine && !submitted)">
              Password is required
            </small>
          </div>

        </div>

        <div class="form-group text-center">
          <button type="submit" class="btn btn-success btn-lg">Login</button>
        </div>

      </form>
    </div>
  </div>
</div>